@charset "utf-8";
/* CSS Document */

*{
	-webkit-box-sizing: boder-box;
	box-sizing: border-box;
}

@import url("https://use.fontawesome.com/releases/v5.2.0/css/all.css");

body{
	font-size: 1rem;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

img {
	max-width: 100%;
}

ul, li{
	margin: 0;
	padding: 0;
}

a{
    transition: all 400ms;
		text-decoration: none;
		cursor: pointer;
  }