.banner
	display: flex
	align-items: center
	background-color: $light-white-color
	justify-content: center
	position: relative

	&__wrapper
		width: 90%
		position: absolute
		display: flex
		justify-content: center
		z-index: 1

@media #{$xl-bp}

	.banner
		align-items: flex-end

		&__wrapper
			justify-content: flex-end
			transform: translateY(-10rem)
    
  