%btn {
  font-size: 0.9375rem;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8125rem;
  padding: 1rem 1.5rem;
  font-weight: 700;
  border: 0.09375rem solid $light-darkgrey-color;
  letter-spacing: 0.09375rem;
  display: inline-block;
  text-align: center;
  background-color: transparent;
  transition: all 400ms;
  &:hover {
    background-color: $turquoise-color;
    color: $white-color;
    border: 0.09375rem solid transparent;
    outline: none;
    cursor: pointer;
  }
}

.btn {
  &-border {
    @extend %btn;
    color: $darkgrey-color;
    padding: 1rem 2rem;
  }

  &-dark-hover {
    @extend %btn;
    color: $darkgrey-color;
    padding: 1rem 2rem;
    &:hover {
      background-color: $darkgrey-color;
    }
  }

  &-banner {
    @extend %btn;
    background-color: $darkgrey-color;
    opacity: 0.8;
    color: $white-color;
    font-weight: 300;
    &:hover {
      opacity: 1;
    }
	}
}

@media only screen and (min-width: 768px) {
  %btn {
    padding: 1.25rem 2.125rem;
  }
}

@media only screen and (min-width: 1200px) {
  .btn {
    &-banner {
      color: $darkgrey-color;
      background-color: transparent;
      font-weight: 700;
    }
  }
}
