footer {
  background-color: $light-white-color;
  padding: 3.125rem 0;
}

.footer__container,
.copy__container {
  @include container-mobile;
}

.footer__wrapper{
	display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
	margin-bottom: 60px;
}

.footer__col {
  color: $main-color;
  margin-bottom: 2.8125rem;
  &:last-child {
    margin-bottom: 0;
  }
  h3 {
    color: $light-darkgrey-color;
    text-transform: uppercase;
    margin: 0 0 1.5625rem 0;
    font-size: 0.875rem;
    font-weight: 600;
  }

  .footer__col--footeritems {
    list-style-type: none;
    li {
      .router-link-active {
        color: $turquoise-color;
      }
      font-size: 0.8125rem;
      margin-bottom: 0.9375rem;
      &:last-child {
        margin-bottom: 0;
      }
      a {
        color: $main-color;
        &:hover {
          color: $turquoise-color;
        }
        &:active {
          color: $turquoise-color;
        }
      }
    }
  }
}

.awardbanner {
  display: none;
}

.footer__banner{
	text-align: center;
	padding: 2.5rem 2.5rem;
	color: $white-color;
	font-size: 1.5rem;
	height: 125px;
}

.socialbanner {
  background-color: $turquoise-color;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  font-size: 1.75rem;
  li {
    a {
      color: $white-color;
      &:hover {
        color: $darkgrey-color;
      }
    }
  }
}

.copy {
  padding: 0.9375rem 0;
  background-color: $darkgrey-color;
  color: $main-text-color;
  font-size: 0.75rem;
}

@media only screen and (min-width: 768px) {
  .footer__container,
  .copy__container {
    @include container-tablet;
    grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
	}
	
	.footer__wrapper{
		margin-bottom: 30px;
	}

  .footer__banner-wrapper {
		display: grid;
		grid-auto-columns: 1fr;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-column-gap: 30px;
	}

	.footer__banner{
		height: 185px;
	}
	
  .awardbanner {
		margin-bottom: 25px;
		display: flex;
		align-items: center;
		justify-content: center;
    background-color: $darkgrey-color;
    font-weight: 700;
    h4 {
      margin: 0;
    }
    span {
      font-weight: 300;
      display: block;
    }
  }
}

@media only screen and (min-width: 992px) {
	.footer__banner-wrapper{
		grid-template-columns: 1fr 1fr;
	}

	.footer__banner{
		padding: 3.75rem;
		font-size: 2rem;
	}

	.awardbanner{
		margin-bottom: 0px;
	}
}

@media only screen and (min-width: 1200px) {
  .footer__container,
  .copy__container {
    @include container-desktop;
  }
}
