.brand
	
	&__wrapper
		display: grid
		grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr))
		grid-template-rows: auto
		grid-gap: 2.5rem

	&__col
		&:last-child
			margin-bottom: 0
	
	&__col-title
		text-transform: uppercase
		color: $light-darkgrey-color
		margin: 0 0 2rem 0

	&__col-subtitle
		font-size: 1.2rem
			
	&__col-text
		font-size: 1.4rem
		margin: 1rem 0 0 0
		line-height: 2.4rem
		color: $lightgrey-color
		a
			color: $turquoise-color

	&__col--award
		margin-top: 5rem
		display: flex
		align-items: center
		justify-content: space-between
		grid-column: 1 / -1

		img
			width: 25%

	&__img
		img
			display: block
			width: 100%
			object-fit: cover

@media #{$sm-bp}

	.brand
		&__wrapper
			grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr))

@media only screen and (max-width: 992px)
	
	.brand
		&__img
			img
				height: 100%
	
@media #{$md-bp} and (max-width:1200px)
	
	.brand

		&__col
			display: flex
			flex-direction: column
			justify-content: center

@media #{$lg-bp}
	
	.brand
		&__col--award
			img
				width: auto

@media #{$xl-bp}
	.brand
		&__wrapper
			grid-template-columns: repeat(10, 1fr)

		&__img--design
			grid-column: 1 / span 5
			grid-row: 1 / span 2

		&__col--design
			grid-column: 6 / -1 
			grid-row: 1 / span 1
			padding: 2rem 0

		&__img--vision
			grid-column: 1 / span 5
			grid-row: 3 / span 3

		&__col--vision
			grid-column: 1 / span 5
			grid-row: 6 / span 2

		&__img--trading
			grid-column: 6 / -1
			grid-row: 2 / span 3

		&__col--trading
			grid-column: 6 / -1
			grid-row: 5 / span 2

		&__col--award
			margin-top: 0
			grid-column: 6 / -1
			grid-row: 7 / span 1
