.brand-section{
    padding: 4.0625rem 0;
}

.brand-container{
    @include container-mobile;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-template-rows: auto;
    grid-gap: 1.5625rem;
    p{
        font-size: 0.8125rem;
    }
}

.brand-col{
    &:last-child{
        margin-bottom: 0;
    }
    h2{
        font-size: 1rem;
        text-transform: uppercase;
        color: $light-darkgrey-color;
    }
    span{
        text-transform: uppercase;
        font-size: 0.75rem;
        color: $main-color;
        font-weight: 700;
    }
    p{
        font-size: 0.875rem;
        margin: 1.25rem 0 0 0;
        line-height: 1.5rem;
        color: $lightgrey-color;
        
        a{
            color: $turquoise-color;
        }
    }
}

.award-img{
    margin-top: 3.125rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    grid-gap: 1.25rem;
    align-items: center;
    justify-content: center;
}

@media only screen and (min-width:768px) {

    .brand-section{
        padding: 4.0625rem 0 7.5rem 0;
    }

    .brand-container{
        @include container-tablet;
    }
}

@media only screen and (min-width:1200px) {

    .brand-container{
        @include container-desktop;
        grid-template-columns: repeat(10, 1fr)
    }

    .img-design{
        grid-column: 1/6;
        grid-row: 1/3;
    }

    .design{
        grid-column: 6/11;
        grid-row: 1/2;
        padding: 1.25rem 0;
    }

    .img-vision{
        grid-column: 1/6;
        grid-row: 3/6;
    }

    .vision{
        grid-column: 1/6;
        grid-row: 6/8;
    }

    .img-trading{
        grid-column: 6/11;
        grid-row: 2/6;
    }

    .trading{
        grid-column: 6/11;
        grid-row: 5/7;
    }

    .award-img{
        margin-top: 0;
        grid-column: 6/11;
    }

}
